  @font-face {
    font-family: ProximaNovaRegular;
    src: url(public/fonts/ProximaNovaRegular.ttf);
}

.products_card_wrapper{
  font-family: 'Muli', sans-serif;
  font-size: 0.85em;
  padding: 22px;
}

.products_card_heading{
  font-family: 'ProximaNovaRegular';
  font-weight:bolder;
  font-size: 1.15em;
  color:#616161;
}

.products_combos_groupTitle{
	padding:15px 25px;
	font-size:1.65em;
	color:#1a237e;
	margin-top:15px;
}