<!DOCTYPE html>
<html>
    <head>
        <title>Hocket</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
 
  
<style type="text/css">
  
</style>
</head>

<body>


<!-- 
************************************************************************
****************************** Desktop Website Starts ********************
 -->

<div id="desktopView">

<div class="uk-container uk-margin">
  <div uk-grid>

    <div class="uk-width-1-1 uk-width-3-5@s">
  <img class="bannerImage" src="./app/single_products/combos/images/Appliances/2.png">

<!-- *** Desktop Product Details and FAQ starts -->
  <div style="margin-top:10px">
      <ul uk-tab style="width: 100%">
          <li id="productDetails" style="width:45%"><a href="#"  style="color:#2d51a3;">Product Details</a></li>
          <li id="frequentQueries" style="width:49%"><a href="#"  style="color:#2d51a3">Frequent Queries</a></li>
      </ul>

      <ul class="uk-switcher uk-margin">
          <li>
            <p style="font-size: 1.4em;font-family:'Muli';color:#212121;font-weight: bold">Products Included: <span style="font-size:0.75em;padding:4px;font-weight:normal;">( {{itemsIncluded}} )</span></p>
            <hr class="uk-divider-small">



            <div uk-grid ng-if="isBasic || isValue || isPrime">
            <div class="uk-width-1-2">
                <div uk-slideshow="animation: push;min-height: 350;autoplay: true;autoplay-interval: 3500;pause-on-hover: true">
                  <div class="uk-position-relative uk-visible-toggle uk-light">
                      <ul class="uk-slideshow-items">
                          <li>
                              <img src="./app/single_products/appliances/single_door_refrigerator/single_door_refrigerator.jpg" alt="">
                          </li>
<!--                           <li>
                              <img src="https://p.rmjo.in/productSquare/2f3c3hj0-500x500.jpg" alt="" >
                          </li>
                          <li>
                              <img src="https://p.rmjo.in/productSquare/48ikp2ag-500x500.jpg" alt="">
                          </li> -->
                      </ul>
                      <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
                      <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>
                  </div>
                  <ul class="uk-slideshow-nav uk-dotnav uk-flex-center uk-margin"></ul>
              </div>                
            </div>

            <div class="uk-width-1-2">
              <p style="color:#212121;font-size: 1.1em">Single Door Refrigerator  <span style="font-size:0.65em;color:#fff;background:#2d51a3;padding:4px;">Core Product</span></p>
              <hr class="uk-divider-small"> 
              <p style="color:#9e9e9e;font-size: 0.8em">Our single door fridge has a fast and effective cooling system to keep your food fresh. While it’s quick cooling saves you time, the energy-efficient technology ensures great cooling at low costs.</p>

              <table style="width:100%;border:0px solid red;">
                <tr>
                  <td style="border:0px solid green;min-width:50%;vertical-align: baseline;">
                    <span style="font-size:0.9em;color:#424242">Dimensions</span>
                    <ul class="uk-list uk-list-bullet" style="font-size:0.75em">
                        <li>19"L x 18"B x 20"H</li>
                    </ul>
                    <span style="font-size:0.9em;color:#424242">Features & Specs</span><br>
                    <ul class="uk-list uk-list-bullet" style="font-size:0.7em">
                        <li><b>Capacity/Size:</b> 170L (approx)</li>
                        <li><b>Brand:</b> Haier/ IFB/ Samsung/ Whirpool/ Godrej (assorted)</li>
                        <li><b>Chiller Compartment:</b> No</li>
                        <li><b>Number of Shelves:</b> 1</li>
                        
                    </ul>
                  </td>
                  <td valign="top">
                    <span style="font-size:0.9em;color:#424242">Safety & Usage</span>
                    <ul class="uk-list uk-list-bullet" style="font-size:0.7em">
                        <li>Defrost at regular intervals</li>
                        <li>Avoid placing hot items in the refrigerator</li>
                        <li>Use a stabilizer in case of voltage fluctuation</li>
                    </ul>
                  </td>
                </tr>
              </table>                         
            </div>
            <hr style="width:100%">
          </div>

         
                    <div uk-grid ng-if="isBasic || isValue || isPrime">
            <div class="uk-width-1-2">
                <div uk-slideshow="animation: push;min-height: 350;autoplay: true;autoplay-interval: 3500;pause-on-hover: true">
                  <div class="uk-position-relative uk-visible-toggle uk-light">
                      <ul class="uk-slideshow-items">
                          <li>
                              <img src="./app/single_products/appliances/top_load_wm/top_load_wm.jpg" alt="">
                          </li>
<!--                           <li>
                              <img src="https://p.rmjo.in/productSquare/2f3c3hj0-500x500.jpg" alt="" >
                          </li>
                          <li>
                              <img src="https://p.rmjo.in/productSquare/48ikp2ag-500x500.jpg" alt="">
                          </li> -->
                      </ul>
                      <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
                      <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>
                  </div>
                  <ul class="uk-slideshow-nav uk-dotnav uk-flex-center uk-margin"></ul>
              </div>                
            </div>

            <div class="uk-width-1-2">
              <p style="color:#212121;font-size: 1.1em">Top Load Washing Machine  <span style="font-size:0.65em;color:#fff;background:#2d51a3;padding:4px;">Core Product</span></p>
              <hr class="uk-divider-small"> 
              <p style="color:#9e9e9e;font-size: 0.8em">Wash away your extensive workload with our top load automatic washing machine. Save on time and more on your utility bills. No need to hide all that dirty laundry anymore. Say hello to clean clothes.</p>

              <table style="width:100%;border:0px solid red;">
                <tr>
                  <td style="border:0px solid green;min-width:50%;vertical-align: baseline;">
                    <span style="font-size:0.9em;color:#424242">Dimensions</span>
                    <ul class="uk-list uk-list-bullet" style="font-size:0.75em">
                        <li>24"L x 23"B x 39"H</li>
                    </ul>
                    <span style="font-size:0.9em;color:#424242">Features & Specs</span><br>
                    <ul class="uk-list uk-list-bullet" style="font-size:0.7em">
                        <li><b>Capacity/Size:</b> 6Kg (approx)</li>
                        <li><b>Brand:</b> Haier/ IFB/ Samsung/ Whirpool/ Godrej (assorted)</li>
                        <li><b>Fully Automatic:</b> Yes</li>
                        
                    </ul>
                  </td>
                  <td valign="top">
                    <span style="font-size:0.9em;color:#424242">Safety & Usage</span>
                    <ul class="uk-list uk-list-bullet" style="font-size:0.7em">
                        <li>Do not overload the washing machine</li>
                        <li>Ensure to clean inside the drum to avoid damage</li>
                    </ul>
                  </td>
                </tr>
              </table>                         
            </div>
            <hr style="width:100%">
          </div>



          </li>
          <!-- *** FAQ Starts *** -->
          <li style="font-family: 'Muli'">

            <span style="font-size:1.05em;font-weight:bold">How does rent to own work ?</span><br>
            <span style="font-size:0.85em">
              Rent to own is an option to own the product at any time during the tenure or at the end of tenure, by paying a nominal price.The customer needs to complete minimum 12 months tenure to avail this option. For eg if you take a washing machine on 36 months rent, you will keep paying 659 rs every month and at the end of 36 months - you can own the product by paying 4378 rs.
            </span>
            <hr>

            <span style="font-size:1.05em;font-weight:bold">Who rents for 18+ months ?</span><br>
            <span style="font-size:0.85em">
              18 months is the most preferred tenure due to the following reasons : possibility of shifting is high as an avg consumer today shifts twice in 3 years*. Hocket saves you from this burden by providing you free relocation within city or any of the major metro cities*. Not just that ! you end up paying a smaller monthly payout compared to emi, with an option to either own or return the product anytime as per your changing life priorities. Not to mention you can swap every 12 months. Compare costs vs benefits for 36 months to check how financially viable it is !
            </span>
            <hr>

            <span style="font-size:1.05em;font-weight:bold">Will i be charged any cancellation fee if i return early ?</span><br>
            <span style="font-size:0.85em">
              We do take a settlement fee when you close early. Lets us explain how we charge with an example. Say you have taken the products for 12 months and your friend has taken for 6 months. If both of you close at 6 months, you pay only a difference of what your friend has paid for 6 months and what you have paid in those 6 months. Isnt it fair ! 
            </span>
            <hr>

            <span style="font-size:1.05em;font-weight:bold">Why are rentals changing with tenure ?</span><br>
            <span style="font-size:0.85em">
              Its unfair to charge the same price across tenures as consumers end up paying a lot more than whats fair in cases of longer tenures. so to make it fair for someone who is committing longer, we reduce rentals with tenure similarly to how EMI reduces with tenure.
            </span>
            <hr>

            <span style="font-size:1.05em;font-weight:bold">Is relocation really free ?</span><br>
            <span style="font-size:0.85em">
              Intercity relocation and Intracity relocation comes free with our service. We help you relocate to any cities we are present in.
            </span>
            <hr>

            <span style="font-size:1.05em;font-weight:bold">Why do you guys take deposit ?</span><br>
            <span style="font-size:0.85em">
              We typically give you products worth a lot more than what we ask for in return as monthly rentals. To safegaurd us with risk of defaults or intential damage, we charge a nominal deposit.
            </span>
            <hr>

            <span style="font-size:1.05em;font-weight:bold">How soon can i swap my products ?</span><br>
            <span style="font-size:0.85em">
              Our products can be swapped every 12 months.
            </span>
            <hr>

            <span style="font-size:1.05em;font-weight:bold">What all do you cover in free maintanence ?</span><br>
            <span style="font-size:0.85em">
              We take care of all manufacturing defects and minor wear and tear. Not only that we end up waving damage upto ₹1000*
            </span>


            
          </li>
          <!-- *** FAQ Starts *** -->
      </ul>
    </div>
<!-- *** Desktop Product Details and FAW=Q starts -->
    </div>

    <div class="uk-width-1-1 uk-width-2-5@s">
      <div class="uk-card uk-card-default" style="padding: 25px;">
            <div style="font-size:0.9em ">
              <span class="productName" >Single Door Refrigerator + Top Load Washing Machine</span><br>
            Make your plan.
            
            </div>
          <hr>
            
            <span style="color:#2d51a3;font-weight:bolder">Choose your tenure:</span>
<div style="text-align: center">
    <button class="uk-button uk-button-default tenureRateSelectorButton" type="button" style="margin-top: 10px;text-transform: lowercase;">{{selectedTenure}} <span uk-icon="icon: chevron-down; ratio: 1"></span></button>

<div uk-dropdown style="max-height:300px;overflow:scroll;margin-top:10px;margin-left:90px;" class="tenureRateSelector">
  <ul class="uk-nav uk-dropdown-nav" >
  <li ng-click="activeTenure(tarrif_rate[1],1)" >Rs.{{tarrif_rate[1]}}/mo <span class="db">for</span> 1 month</li>
  <li ng-click="activeTenure(tarrif_rate[2],2)" >Rs.{{tarrif_rate[2]}}/mo <span class="db">for</span> 2 months</li>
  <li ng-click="activeTenure(tarrif_rate[3],3)" >Rs.{{tarrif_rate[3]}}/mo <span class="db">for</span> 3 months</li>
  <li ng-click="activeTenure(tarrif_rate[4],4)" >Rs.{{tarrif_rate[4]}}/mo <span class="db">for</span> 4 months</li>
  <li ng-click="activeTenure(tarrif_rate[5],5)" >Rs.{{tarrif_rate[5]}}/mo <span class="db">for</span> 5 months</li>
  <li ng-click="activeTenure(tarrif_rate[6],6)" >Rs.{{tarrif_rate[6]}}/mo <span class="db">for</span> 6 months</li>
  <li ng-click="activeTenure(tarrif_rate[7],7)" >Rs.{{tarrif_rate[7]}}/mo <span class="db">for</span> 7 months</li>
  <li ng-click="activeTenure(tarrif_rate[8],8)" >Rs.{{tarrif_rate[8]}}/mo <span class="db">for</span> 8 months</li>
  <li ng-click="activeTenure(tarrif_rate[9],9)" >Rs.{{tarrif_rate[9]}}/mo <span class="db">for</span> 9 months</li>
  <li ng-click="activeTenure(tarrif_rate[10],10)" >Rs.{{tarrif_rate[10]}}/mo <span class="db">for</span> 10 months</li>
  <li ng-click="activeTenure(tarrif_rate[11],11)" >Rs.{{tarrif_rate[11]}}/mo <span class="db">for</span> 11 months</li>
  <li ng-click="activeTenure(tarrif_rate[12],12)" >Rs.{{tarrif_rate[12]}}/mo <span class="db">for</span> 12 months</li>
  <li ng-click="activeTenure(tarrif_rate[13],13)" >Rs.{{tarrif_rate[13]}}/mo <span class="db">for</span> 13 months</li>
  <li ng-click="activeTenure(tarrif_rate[14],14)" >Rs.{{tarrif_rate[14]}}/mo <span class="db">for</span> 14 months</li>
  <li ng-click="activeTenure(tarrif_rate[15],15)" >Rs.{{tarrif_rate[15]}}/mo <span class="db">for</span> 15 months</li>
  <li ng-click="activeTenure(tarrif_rate[16],16)" >Rs.{{tarrif_rate[16]}}/mo <span class="db">for</span> 16 months</li>
  <li ng-click="activeTenure(tarrif_rate[17],17)" >Rs.{{tarrif_rate[17]}}/mo <span class="db">for</span> 17 months</li>
  <li ng-click="activeTenure(tarrif_rate[18],18)" >Rs.{{tarrif_rate[18]}}/mo <span class="db">for</span> 18 months</li>
  </ul>
</div>
</div>

                <table style="width: 100%;border:0px dotted #eeeeee;padding:10px;border:1px solid #eee;margin-top: 15px;">
                  <tr >
                    <td style="text-align: left;border:0px solid red;font-size: 0.9em">
                     Security Deposit<br>
                     <span style="font-size: 0.8em">(Fully Refundable)</span>
                    </td>
                    <td style="text-align: right;border:0px solid red;font-size:0.93em">
                      <i class="fa fa-inr"></i>{{securityDeposit}}/-
                    </td>
                  </tr>
               </table>
            <hr>

            <div uk-grid>
              <div class="uk-width-1-1">
                <table style="width: 100%;border:2px dotted #2d51a3;padding:20px">
                  <tr >
                    <td style="text-align: left;border:0px solid red;color:#2d51a3;font-weight: bolder">
                      Monthly Rent:
                    </td>
                    <td style="text-align: right;border:0px solid red">
                      <i class="fa fa-inr"></i>{{orderTarrif}}/-
                    </td>
                  </tr>
               </table>
              <table style="width: 100%;font-size: 0.85em;margin-top: 3px;">
                  <tr >
                    <td style="text-align:left;">
                      <img src="public/img/delivery_fees_truck.png" style="width:30px;"><i> Free Delievery & setup</i>
                    </td>
                    <td style="text-align: right;border:0px solid red">
                      (1 month = 30 days)
                    </td>
                  </tr>
               </table>
              </div>
            </div>

            <div>
                <table style="width: 100%;margin-top: 35px;">
                  <tr >
                    <td style="text-align: left;">
                     <button ng-click="submitOrder('addToCart')" class="uk-button uk-button-default addToCart " >Add to Cart</button>
                    </td>
                    <td style="text-align: right;">
                      <button ng-click="submitOrder('rentNow')" class="uk-button uk-button-primary rentNow">Rent Now</button>
                    </td>
                  </tr>
               </table>
              
            </div>

      </div>
      <br>
<!-- Offer Starts -->
      <div class="uk-card uk-card-default uk-width-1-1@s" style="padding: 25px;font-family:'Muli'">
          <img src="https://www.guarented.com/images/offers/product_offer.png" style="width:28px;vertical-align: text-bottom;">
          <span style="color:#2d51a3;font-size:1.4em;font-weight:bold">O</span><span style="color:#2d51a3;font-size:1.1em;font-weight:bold">FFERS</span>
          <ul class="uk-list uk-list-bullet" style="font-size:0.9em">
            <li>Use Code SAVE5 & get 5% Off Per Month for a Minimum Rental Value of Rs 500. <a ui-sref="offers_tnc">View T&C*</a></li>
            <li>Use Code SAVE10 to get 10% Off Per Month for a Minimum Rental Value of Rs 1000. <a ui-sref="offers_tnc">View T&C*</a></li>
            <li>Use Code SAVE15 to get 15% Off Per Month for a Minimum Rental Value of Rs 1500. <a ui-sref="offers_tnc">View T&C*</a></li>
            <li>Use Code SAVE20 to get 20% Off Per Month for a Minimum Rental Value of Rs 2000. <a ui-sref="offers_tnc">View T&C*</a></li>
            <!-- <li>Use Code 1MONTHOFF and get 1st Month's Rent Free. Minimum Tenure is 10+ Months. <a>View T&C*</a></li> -->
        </ul>
      </div>
<!-- Offer Ends -->
    </div>
<!-- Right Sidebar ends -->
  </div>
</div>
<br>
</div>



<!-- 
************************************************************************
****************************** Desktop Website ends ********************
 -->


<!-- ************************************************************************************************ -->


 <!-- 
************************************************************************
****************************** Mobile Website Starts ********************
 -->

<div id="mobileView">

<div class="uk-container uk-margin">
  <div uk-grid>

    <div class="uk-width-1-1 uk-width-3-5@s">
  <img class="bannerImage" src="./app/single_products/combos/images/Appliances/2.png">
    </div>

    <div class="uk-width-1-1 uk-width-2-5@s">
      <div class="uk-card uk-card-default" style="padding: 25px;">
            <div style="font-size:1em ">
              <span class="productName" >Single Door Refrigerator + Top Load Washine Machine</span><br>
            Make your plan.
            <hr>
            </div>
            
            <span style="color:#2d51a3;font-weight:bolder">Choose your tenure:</span>
            <div style="text-align: center" class="tenureRateSelectorButton">
            <button class="uk-button uk-button-default tenureRateSelectorButton" type="button" style="margin-top: 10px;
  text-transform: lowercase;">{{selectedTenure}} <span uk-icon="icon: chevron-down; ratio: 1"></span></button>

<div uk-dropdown style="max-height:300px;overflow:scroll" class="tenureRateSelector">
  <ul class="uk-nav uk-dropdown-nav" >
  <li ng-click="activeTenure(tarrif_rate[1],1)" >Rs.{{tarrif_rate[1]}}/mo <span class="db">for</span> 1 month</li>
  <li ng-click="activeTenure(tarrif_rate[2],2)" >Rs.{{tarrif_rate[2]}}/mo <span class="db">for</span> 2 months</li>
  <li ng-click="activeTenure(tarrif_rate[3],3)" >Rs.{{tarrif_rate[3]}}/mo <span class="db">for</span> 3 months</li>
  <li ng-click="activeTenure(tarrif_rate[4],4)" >Rs.{{tarrif_rate[4]}}/mo <span class="db">for</span> 4 months</li>
  <li ng-click="activeTenure(tarrif_rate[5],5)" >Rs.{{tarrif_rate[5]}}/mo <span class="db">for</span> 5 months</li>
  <li ng-click="activeTenure(tarrif_rate[6],6)" >Rs.{{tarrif_rate[6]}}/mo <span class="db">for</span> 6 months</li>
  <li ng-click="activeTenure(tarrif_rate[7],7)" >Rs.{{tarrif_rate[7]}}/mo <span class="db">for</span> 7 months</li>
  <li ng-click="activeTenure(tarrif_rate[8],8)" >Rs.{{tarrif_rate[8]}}/mo <span class="db">for</span> 8 months</li>
  <li ng-click="activeTenure(tarrif_rate[9],9)" >Rs.{{tarrif_rate[9]}}/mo <span class="db">for</span> 9 months</li>
  <li ng-click="activeTenure(tarrif_rate[10],10)" >Rs.{{tarrif_rate[10]}}/mo <span class="db">for</span> 10 months</li>
  <li ng-click="activeTenure(tarrif_rate[11],11)" >Rs.{{tarrif_rate[11]}}/mo <span class="db">for</span> 11 months</li>
  <li ng-click="activeTenure(tarrif_rate[12],12)" >Rs.{{tarrif_rate[12]}}/mo <span class="db">for</span> 12 months</li>
  <li ng-click="activeTenure(tarrif_rate[13],13)" >Rs.{{tarrif_rate[13]}}/mo <span class="db">for</span> 13 months</li>
  <li ng-click="activeTenure(tarrif_rate[14],14)" >Rs.{{tarrif_rate[14]}}/mo <span class="db">for</span> 14 months</li>
  <li ng-click="activeTenure(tarrif_rate[15],15)" >Rs.{{tarrif_rate[15]}}/mo <span class="db">for</span> 15 months</li>
  <li ng-click="activeTenure(tarrif_rate[16],16)" >Rs.{{tarrif_rate[16]}}/mo <span class="db">for</span> 16 months</li>
  <li ng-click="activeTenure(tarrif_rate[17],17)" >Rs.{{tarrif_rate[17]}}/mo <span class="db">for</span> 17 months</li>
  <li ng-click="activeTenure(tarrif_rate[18],18)" >Rs.{{tarrif_rate[18]}}/mo <span class="db">for</span> 18 months</li>
  </ul>
</div>
</div>


                <table style="width: 100%;border:0px dotted #eeeeee;padding:10px;border:1px solid #eee;margin-top: 15px;">
                  <tr >
                    <td style="text-align: left;border:0px solid red;font-size: 0.9em">
                     Security Deposit<br>
                     <span style="font-size: 0.8em">(Fully refundable)</span>
                    </td>
                    <td style="text-align: right;border:0px solid red;font-size:0.93em">
                      <i class="fa fa-inr"></i>{{securityDeposit}}/-
                    </td>
                  </tr>
               </table>
            <hr>

            <div uk-grid>
              <div class="uk-width-1-1">
                <table style="width: 100%;border:2px dotted #2d51a3;padding:20px">
                  <tr >
                    <td style="text-align: left;border:0px solid red;color:#2d51a3;font-weight: bolder">
                      Monthly Rent:
                    </td>
                    <td style="text-align: right;border:0px solid red">
                      <i class="fa fa-inr"></i>{{orderTarrif}}/-
                    </td>
                  </tr>
               </table>
              <table style="width: 100%;font-size: 0.85em;margin-top: 3px;">
                  <tr >
                    <td style="text-align:left;">
                      <img src="public/img/delivery_fees_truck.png" style="width:30px;"><i> Free Delievery</i>
                    </td>
                    <td style="text-align: right;border:0px solid red">
                      (1 month = 30 days)
                    </td>
                  </tr>
               </table>
              </div>
            </div>

            <div>
                <table style="width: 100%;margin-top: 35px;">
                  <tr >
                    <td style="text-align: left;">
                     <button class="uk-button uk-button-default addToCart" ng-click="submitOrder('addToCart')" >Add to Cart</button>
                    </td>
                    <td style="text-align: right;">
                      <button class="uk-button uk-button-primary rentNow" ng-click="submitOrder('rentNow')">Rent Now</button>
                    </td>
                  </tr>
               </table>
              
            </div>

      </div>
      <br>

<!-- Offer Starts -->
      <div class="uk-card uk-card-default uk-width-1-1@s" style="padding: 25px;font-family:'Muli'">
          <img src="https://www.guarented.com/images/offers/product_offer.png" style="width:28px;vertical-align: text-bottom;">
          <span style="color:#2d51a3;font-size:1.4em;font-weight:bold">O</span><span style="color:#2d51a3;font-size:1.1em;font-weight:bold">FFERS</span>
          <ul class="uk-list uk-list-bullet" style="font-size:0.9em">
            <li>Use Code SAVE5 & get 5% Off Per Month for a Minimum Rental Value of Rs 500. <a ui-sref="offers_tnc">View T&C*</a></li>
            <li>Use Code SAVE10 to get 10% Off Per Month for a Minimum Rental Value of Rs 1000. <a ui-sref="offers_tnc">View T&C*</a></li>
            <li>Use Code SAVE15 to get 15% Off Per Month for a Minimum Rental Value of Rs 1500. <a ui-sref="offers_tnc">View T&C*</a></li>
            <li>Use Code SAVE20 to get 20% Off Per Month for a Minimum Rental Value of Rs 2000. <a ui-sref="offers_tnc">View T&C*</a></li>
            <!-- <li>Use Code 1MONTHOFF and get 1st Month's Rent Free. Minimum Tenure is 10+ Months. <a>View T&C*</a></li> -->
        </ul>
      </div>
<!-- Offer Ends -->
<br>


    <!-- *** Mobile Product Details and FAQ starts -->
  <div style="margin-top:10px">
      <ul uk-tab style="width: 100%">
          <li id="productDetails" style="width:45%"><a href="#"  style="color:#2d51a3;">Product Details</a></li>
          <li id="frequentQueries" style="width:49%"><a href="#"  style="color:#2d51a3">Frequent Queries</a></li>
      </ul>

      <ul class="uk-switcher uk-margin">
          <li>
            <p style="font-size: 1.4em;font-family:'Muli';color:#212121;font-weight: bold">Products Included:</p>
            <hr class="uk-divider-small">



         <div uk-grid ng-if="isBasic || isValue || isPrime">
            <div class="uk-width-1-1">
                <div uk-slideshow="animation: push;;autoplay: true;autoplay-interval: 3500;pause-on-hover: true">
                  <div class="uk-position-relative uk-visible-toggle uk-light">
                      <ul class="uk-slideshow-items">
                          <li>
                              <img src="./app/single_products/appliances/single_door_refrigerator/single_door_refrigerator.jpg" alt="">
                          </li>
<!--                           <li>
                              <img src="https://p.rmjo.in/productSquare/2f3c3hj0-500x500.jpg" alt="" >
                          </li>
                          <li>
                              <img src="https://p.rmjo.in/productSquare/48ikp2ag-500x500.jpg" alt="">
                          </li> -->
                      </ul>
                      <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
                      <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>
                  </div>
                  <ul class="uk-slideshow-nav uk-dotnav uk-flex-center uk-margin"></ul>
              </div>                
            </div>

            <div class="uk-width-1-1">
              <p style="color:#212121;font-size: 1.1em">Single Door Refrigerator  <span style="font-size:0.65em;color:#fff;background:#2d51a3;padding:4px;">Core Product</span></p>
              <hr class="uk-divider-small"> 
              <p style="color:#9e9e9e;font-size: 0.8em">Our single door fridge has a fast and effective cooling system to keep your food fresh. While it’s quick cooling saves you time, the energy-efficient technology ensures great cooling at low costs.</p>

              <table style="width:100%;border:0px solid red;">
                <tr>
                  <td style="border:0px solid green;width:50%;vertical-align: baseline;">
                    <span style="font-size:0.9em;color:#424242">Dimensions</span>
                    <ul class="uk-list uk-list-bullet" style="font-size:0.75em">
                        <li>19"L x 18"B x 20"H</li>
                    </ul>
                    <span style="font-size:0.9em;color:#424242">Features & Specs</span><br>
                    <ul class="uk-list uk-list-bullet" style="font-size:0.7em">
                        <li><b>Capacity/Size:</b> 170L (approx)</li>
                        <li><b>Brand:</b> Haier/ IFB/ Samsung/ Whirpool/ Godrej (assorted)</li>
                        <li><b>Chiller Compartment:</b> No</li>
                        <li><b>Number of Shelves:</b> 1</li>
                        
                    </ul>
                  </td>
                  <td valign="top">
                    <span style="font-size:0.9em;color:#424242">Safety & Usage</span>
                    <ul class="uk-list uk-list-bullet" style="font-size:0.7em">
                        <li>Defrost at regular intervals</li>
                        <li>Avoid placing hot items in the refrigerator</li>
                        <li>Use a stabilizer in case of voltage fluctuation</li>
                    </ul>
                  </td>
                </tr>
              </table>                         
            </div>
            <hr style="width:100%">
          </div>

          <div uk-grid ng-if="isBasic || isValue || isPrime">
            <div class="uk-width-1-1">
                <div uk-slideshow="animation: push;;autoplay: true;autoplay-interval: 3500;pause-on-hover: true">
                  <div class="uk-position-relative uk-visible-toggle uk-light">
                      <ul class="uk-slideshow-items">
                          <li>
                              <img src="./app/single_products/appliances/top_load_wm/top_load_wm.jpg" alt="">
                          </li>
<!--                           <li>
                              <img src="https://p.rmjo.in/productSquare/2f3c3hj0-500x500.jpg" alt="" >
                          </li>
                          <li>
                              <img src="https://p.rmjo.in/productSquare/48ikp2ag-500x500.jpg" alt="">
                          </li> -->
                      </ul>
                      <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
                      <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>
                  </div>
                  <ul class="uk-slideshow-nav uk-dotnav uk-flex-center uk-margin"></ul>
              </div>                
            </div>

            <div class="uk-width-1-1">
              <p style="color:#212121;font-size: 1.1em">Top Load Washing Machine  <span style="font-size:0.65em;color:#fff;background:#2d51a3;padding:4px;">Core Product</span></p>
              <hr class="uk-divider-small"> 
              <p style="color:#9e9e9e;font-size: 0.8em">Wash away your extensive workload with our top load automatic washing machine. Save on time and more on your utility bills. No need to hide all that dirty laundry anymore. Say hello to clean clothes.</p>

              <table style="width:100%;border:0px solid red;">
                <tr>
                  <td style="border:0px solid green;width:50%;vertical-align: baseline;">
                    <span style="font-size:0.9em;color:#424242">Dimensions</span>
                    <ul class="uk-list uk-list-bullet" style="font-size:0.75em">
                        <li>24"L x 23"B x 39"H</li>
                    </ul>
                    <span style="font-size:0.9em;color:#424242">Features and Specs</span><br>
                    <ul class="uk-list uk-list-bullet" style="font-size:0.7em">
                        <li><b>Capacity/Size:</b> 6Kg (approx)</li>
                        <li><b>Brand:</b> Haier/ IFB/ Samsung/ Whirpool/ Godrej (assorted)</li>
                        <li><b>Fully Automatic:</b> Yes</li>
                        
                    </ul>
                  </td>
                  <td valign="top">
                    <span style="font-size:0.9em;color:#424242">Safety & Usage</span>
                    <ul class="uk-list uk-list-bullet" style="font-size:0.7em">
                        <li>Defrost at regular intervals</li>
                        <li>Ensure to clean inside the drum to avoid damage</li>
                    </ul>
                  </td>
                </tr>
              </table>                         
            </div>
            <hr style="width:100%">
          </div>


          </li>
          <!-- *** FAQ Starts *** -->
          <li style="font-family: 'Muli'">


            <span style="font-size:1.05em;font-weight:bold">How does rent to own work ?</span><br>
            <span style="font-size:0.85em">
              Rent to own is an option to own the product at any time during the tenure or at the end of tenure, by paying a nominal price.The customer needs to complete minimum 12 months tenure to avail this option. For eg if you take a washing machine on 36 months rent, you will keep paying 659 rs every month and at the end of 36 months - you can own the product by paying 4378 rs.
            </span>
            <hr>

            <span style="font-size:1.05em;font-weight:bold">Who rents for 18+ months ?</span><br>
            <span style="font-size:0.85em">
              18 months is the most preferred tenure due to the following reasons : possibility of shifting is high as an avg consumer today shifts twice in 3 years*. Hocket saves you from this burden by providing you free relocation within city or any of the major metro cities*. Not just that ! you end up paying a smaller monthly payout compared to emi, with an option to either own or return the product anytime as per your changing life priorities. Not to mention you can swap every 12 months.
            </span>
            <hr>

            <span style="font-size:1.05em;font-weight:bold">Will i be charged any cancellation fee if i return early ?</span><br>
            <span style="font-size:0.85em">
              We do take a settlement fee when you close early. Lets us explain how we charge with an example. Say you have taken the products for 12 months and your friend has taken for 6 months. If both of you close at 6 months, you pay only a difference of what your friend has paid for 6 months and what you have paid in those 6 months. Isnt it fair ! 
            </span>
            <hr>

            <span style="font-size:1.05em;font-weight:bold">Why are rentals changing with tenure ?</span><br>
            <span style="font-size:0.85em">
              Its unfair to charge the same price across tenures as consumers end up paying a lot more than whats fair in cases of longer tenures. so to make it fair for someone who is committing longer, we reduce rentals with tenure similarly to how EMI reduces with tenure.
            </span>
            <hr>

            <span style="font-size:1.05em;font-weight:bold">Is relocation really free ?</span><br>
            <span style="font-size:0.85em">
              Intercity relocation and Intracity relocation comes free with our service. We help you relocate to any cities we are present in.
            </span>
            <hr>

            <span style="font-size:1.05em;font-weight:bold">Why do you guys take deposit ?</span><br>
            <span style="font-size:0.85em">
              We typically give you products worth a lot more than what we ask for in return as monthly rentals. To safegaurd us with risk of defaults or intential damage, we charge a nominal deposit.
            </span>
            <hr>

            <span style="font-size:1.05em;font-weight:bold">How soon can i swap my products ?</span><br>
            <span style="font-size:0.85em">
              Our products can be swapped every 12 months.
            </span>
            <hr>

            <span style="font-size:1.05em;font-weight:bold">What all do you cover in free maintanence ?</span><br>
            <span style="font-size:0.85em">
              We take care of all manufacturing defects and minor wear and tear. Not only that we end up waving damage upto ₹1000*
            </span>


            
          </li>
          <!-- *** FAQ Ends *** -->
      </ul>
    </div>
<!-- *** Mobile Product Details and FAQ Ends -->

    </div>
<!-- Right Sidebar ends -->
  </div>
</div>

</div>

<!-- 
************************************************************************
****************************** Mobile Website ends ********************
 -->

</body>
</html>










